.wrapper_navbar .navbar{
  display: block !important;
  margin: unset;
  padding: unset;
}

.wrapper_navbar{
  margin: 20px 0 0 25px;
}

.wrapper_body{
  text-align: center;
  margin: 20px;
  color: grey;
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(99, 75, 75);
}