.home{
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* font-size: 62.5%; */
}

.home_header{
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
  align-items: center;
  min-width: 13vw;
}

.home_header a{
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0,0,0,0.87);
}

.home_header a:hover{
  text-decoration: underline;
}

.home_header > .MuiSvgIcon-root{
  /* MuiSvgIcon-root is the className @material-ui gives EVERY icon */
  margin-right: 20px;
}

.appsIcon{
  padding: 8px;
  color:#5f6368;
  margin-right: 10px;
}

.appsIcon:hover{
  background: rgba(60,64,67,0.08);
  border-radius: 50%;
  padding: 8px;
}

.home_body{
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}

.home_body>img{
  object-fit: contain;
  height: 100px;
}