.searchPage_headerBody>.searchPage_top>.search>.search_input{
  /* this over writes the search styles */
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_logo{
  border: 1px solid red;
}

.searchPage_input{
  border: 1px solid purple;
}

.searchPage_login{
  border: 1px solid blue;
}

.searchPage_headerBody{
  border: 1px solid green;
}

.searchPage_results{
  border: 1px solid orangered;
}

.searchPage_footer{
  border: 1px solid black;
}

.searchPage_header{
  display: grid;
  grid-template-columns: 1fr 6fr 5fr;
  grid-gap: 10px;
  grid-template-areas: 
          "logo search login"
          "results results results"
} 