.searchPage_input>
.search>.search_input{
  /* this over writes the search styles */
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_options, 
.searchPage_optionsLeft,
.searchPage_optionsRight,
.searchPage_resultsContainer{
  display: flex;
}

.searchPage{
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
}

.searchPage_headerTop{
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  justify-content: space-between;
}

.searchPage_logo{
  border: 1px solid red;
}

.searchPage_input{
  border: 1px solid purple;
  flex: 1;
}

.searchPage_login{
  border: 1px solid blue;
  display: flex ;
  justify-content: flex-end;
}

.searchPage_options{
  display: flex;
  color: grey;
  font-size: 14px;
}

.searchPage_headerBody{
  border: 1px solid green;
}

.searchPage_logo{
  object-fit: contain;
  width: 100px;
  height: 50px;
  margin-right: 30px;
  margin-top: 10px;
}

.searchPage_resultsContainer{
  padding-left: 135px;
  display: grid;
 grid-template-columns: 8fr 2fr;
}

.searchPage_resultsContainer-leftBorder{
  margin-right: 10px;
}

.searchPage_results{
  border: 1px solid orangered;
}

.searchPage_resultImage{
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.searchPage_footer{
  border: 1px solid black;
}