.searchPage_search>
.search>.search_input{
  /* this over writes the search styles */
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_search>
.search>.search_btns{
  margin: unset;
}

.searchPage_options, 
.searchPage_optionsLeft,
.searchPage_optionsRight{
  display: flex;
  justify-items: space-between;
}

.searchPage_logoDiv,
.searchPage_search,
.searchPage_login{
  background: white;
  margin-top: 30px;
  position: sticky;
  z-index: 100;
  top: 0;
}


/* SIDEMENU ---------------- */
.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d96459;
  overflow-x: hidden;
  transition: 0.5s;
}

.sideMenu a {
  padding: 8px 8px 8px 28px;
  text-decoration: none;
  font-size: 25px;
  /*color: #818181;*/
  display: block;
  transition: 0.3s
}

.sideMenu a:hover, .offcanvas a:focus{
  color: white;
}

.sideMenu .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  margin-left: 50px;
}

.searchPage{
  /* font-size: 62.5%; */
  /* padding:10px; */
  display: grid;
  grid-template-columns: 1fr minmax(530px, 6fr) 4fr;
  grid-gap: 5px;
  grid-template-areas: 
    "logo search login"
    "left options right"
    "... results ..."
    "footBeg footMid footEnd"
}

.burger{
  display:none;
  background:white;
  align-items: center;
}


@media only screen and (max-width: 50em) {
  .searchPage{
    /* background:yellow; */
    padding: 10px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    "... logo login"
    "search search search"
    "options options options"
    "results results results"
    "footMid footMid footMid"
  }

  .searchPage_logoDiv,
  .searchPage_login{
    margin: 0 !important;
    position:unset;
    text-align: center;
  }

  .searchPage_search{
    margin: 0;
  }

  .burger,
  .searchPage_login{
    display: flex;
    /* border: 1px solid blue; */
    color: gray;
    cursor: pointer;
  }

  .appsIcon,
  .searchPage_options-leftMargin,
  .searchPage_options-rightMargin,
  .searchPage_footBeg,
  .searchPage_footEnd{
    display:none !important;
  }

  .searchPage_gooogle{
    margin-bottom: 20px !important;
  }

  .searchPage_footMid{
    margin: -10px;
  }
}


/* SEARCH-BAR ----------------- */
.searchPage_logoDiv{
  grid-area: logo;
  min-width:130px;
  margin-left: 10px;
  /* border: 1px solid red; */
}

.searchPage_logoImg{
  object-fit: contain;
  width: 100px;
  height: 50px;
}

.searchPage_search{
  /* top: 10px; */
  grid-area: search;
  /* border: 1px solid purple; */
  flex: 1;
}

.searchPage_login{
  grid-area: login;
  margin-right: 10px;
  align-items: center;
  /* border: 1px solid blue; */
  display: flex ;
  justify-content: flex-end;
}


/* OPTIONS -------------------- */
.searchPage_options-leftMargin{
  grid-area: left;
  margin-right: -5px;
}

.searchPage_options-rightMargin{
  grid-area: right;
  margin-left: -5px;
}

.searchPage_options-leftMargin,
.searchPage_options-rightMargin,
.searchPage_options{
  border-bottom: 1px solid lightgrey;
}

.searchPage_options{
  grid-area: options;
  display: flex;
  color: grey;
  font-size: 14px;
  /* border: 1px solid green; */
  padding: 20px 0 15px 0;
  justify-content: space-between;
}

.searchPage_optionsRight,
.searchPage_optionsLeft{
  align-items: center;
}

.searchPage_options a,
.searchPage_optionsRight a{
  text-decoration: none;
  color: grey;
}

.searchPage_option{
  display: flex;
  align-items: center;
  margin-right: 14px;
}


/* RESULTS -------------------- */
.searchPage_results{
  grid-area: results;
  display: grid;
  grid-gap: 20px;
}

.searchPage_result{
  /* border: 1px solid green; */
}

.searchPage_resultImage{
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.searchPage_resultTitle{
  text-decoration:none;
  font-size: 15px;
}

.searchPage_resultTitle:hover{
  text-decoration:underline;
}

.searchPage_resultTitle > h2{
  font-weight: 400;
}

.searchPage_resultSnippet{
  margin-top: 10px;
}


/* Google Next ------------- */
.searchPage_gooogle{
  /* border: 1px solid orange; */
  text-align: center;
  margin-bottom: 20px;
}

.searchPage_gooogleImg{
  width: 300px;
}

.searchPage_gooogle>ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.searchPage_gooogle>ul>li>a{
  margin-right: 11px;
  text-decoration: none;
}

.searchPage_gooogle>ul>li:first-child{
  margin-left: 55px;
}

.searchPage_gooogle>ul>li:last-child{
  margin-left: 40px;
}

.searchPage_gooogle>ul>li>a:hover{
  text-decoration: underline;
}

/* FOOTER -------------------- */
.searchPage_footBeg,
.searchPage_footMid,
.searchPage_footEnd{
  background: #F2F2F2;
  border-top: 1px solid #DADCE0;
}
.searchPage_footBeg{
  grid-area: footBeg;
  margin-right: -5px;
}

.searchPage_footMid{
  grid-area: footMid;
  /* border: 1px solid blue; */
}

.searchPage_footEnd{
  grid-area: footEnd;
  margin-left: -5px;
}

.searchPage_footMid-child>*{
  padding: 10px !important;
  color: grey;
}

.searchPage_footMid-child>div>a{
  text-decoration: none;
  color: grey;
}

.searchPage_footMid-child>ul{
  border-top: 1px solid #DADCE0;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.searchPage_footMid-child>ul>li>a{
  margin-right: 30px;
  text-decoration: none;
  color: grey;
}